.main{
  &-category{
    margin-top: 30px;
    &-item{
      &__wrapper{
        position: absolute;
        top: 50%;
        left: 40px;
        transform: translateY(-50%);
      }
      &__image{
        height: 100%;
        transition: all 300ms linear;
        &--wrapper{
          height: 130px;
          display: block;
          overflow: hidden;
        }
      }
      &-quantity{
        &__wrapper{
          display: flex;
          color: #888;
          margin-bottom: 15px;
        }
        &__number {
          margin-right: 7px;
        }
      }
      &__name{
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 15px;
        line-height: 1;
      }
      &__button {
        margin-right: 5px;
        cursor: pointer;
        &:hover {
          color: #4fb68d;
        }
        &--wrapper {
          display: flex;
          align-items: center;
          justify-content: center;
          transition: all 300ms linear;
          &:hover{
            margin-left: 15px;
          }
        }
      }
      &__icon{
        margin-top: 3px;
      }
    }
    &__item{
      position: relative;
      display: flex;
      width: 400px;
      @media screen and (max-width: 1250px){
        width: 350px;
      }
      @media screen and (max-width: 1150px){
        width: 300px;
      }
      @media screen and (max-width: 768px){
        width: 100%;
      }
      background-color: #f8f8f8;
      justify-content: space-between;
      cursor: pointer;
      &--wrapper{
        display: block;
        width: 100%;
        margin-bottom: 15px;
        &:last-child{
          margin-bottom: 0;
        }
      }
      &:hover{
        .main-category-item__image{
          height: 150px;
        }
      }
    }
    &__wrapper{
      margin-top: 20px;
    }
    &-items{
      &__block{
        width: 411px;
        margin-right: 30px;
        &:last-child{
          margin-right: 0;
        }
      }
    }
    &__header{
      display: flex;
      justify-content: space-between;
    }
    &-icons{
      &__wrapper{
        display: flex;
        position: relative;
      }
    }
  }
}