.template{
  &__wrapper{
    height: 350px;
    width: 210px;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    overflow: hidden;
    transition: all 300ms linear;
    cursor: pointer;
    position: relative;
    margin-right: 12px;
    margin-bottom: 15px;
    @media screen and (max-width: 768px){
      width: 100%;
      margin-right: 0;
    }
    &--hot {
      height: 580px;
      width: 380px;
      @media screen and (max-width: 768px){
        width: 100%;
        //height: 500px;
      }
    }
    &:hover {
      border: 1px solid #4fb68d;
      .template-image__search--wrapper{
          opacity: 1;
          visibility: visible;
      }
    }
    &:last-child{
      margin-right: 0;
      margin-bottom: 0;
    }
  }
  &-image{
    //width: 100%;
    max-height: 210px;
    display: block;
    margin: 0 auto;
    &--hot{
      max-height: 415px;
    }
    &__wrapper {
      margin-top: 10px;
      position: relative;
      &--normal {
        height: 220px;
        & .template-image {
          max-width: 180px;
          position: absolute;
          position: absolute;
          top: 50%;
          left: 50%;
          margin-right: -50%;
          transform: translate(-50%, -50%)
        }
      }
    }
    &__search{
      background-color: white;
      display: inline-block;
      padding: 12px;
      border-radius: 50%;
      transition: all 300ms linear;
      &:hover {
        background-color: #4fb68d;
        fill: white;
      }
      &--wrapper{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        right: 0;
        text-align: center;
        z-index: 5;
        height: 46px;
        opacity: 0;
        visibility: hidden;
        transition: .3s opacity, .3s visibility;
      }
    }
  }
  &-info{
    &__name{
      font-weight: 400;
      margin: 0;
      line-height: 1;
      text-transform: capitalize;
      color: #253237;
    }
    &__link{
      line-height: 18px;
      margin-bottom: 10px;
      text-decoration: none;
      transition: all 300ms linear;
      &:hover {
        color: #4fb68d;
      }
    }
    &__wrapper{
      padding: 20px 15px 25px 15px;
      background: #fff;
      overflow: hidden;
      position: relative;
      transition: all 300ms linear;
    }
    &__inner{
      position: relative;
      font-size: 12px;
      &--hot{
        font-size: 16px;
        text-align: center;
      }
    }
    &__category{
      text-transform: uppercase;
      color: #999;
      line-height: 1;
      margin-bottom: 10px;
      display: block;
      text-decoration: none;
      &:hover{
        color: #253237;
      }
      &--wrapper{

      }
    }
  }
  &-demand {
    position: absolute;
    top: 10px;
    left: 10px;
    display: inline-block;
    color: #fff;
    padding: 0 5px;
    text-align: center;
    line-height: 20px;
    height: 20px;
    font-size: 12px;
    font-weight: 700;
    border-radius: 5px;
    text-transform: capitalize;
    z-index: 1;
    background-color: #4fb68d;
  }
  &-like{
    position: absolute;
    top: 10px;
    right: 10px;
    display: inline-block;
    text-align: center;
    z-index: 1;
  }
  &-materials{
    &__wrapper{
      display: flex;
      flex-wrap: wrap;
      &--hot{
        align-items: center;
        justify-content: center;
      }
    }
  }
  &-material{
    font-size: 11px;
    color: #5284AE;
    transition: all 300ms linear;
    &:hover {
      color: #82B0D6;
    }
    &__wrapper{
      transition: all 300ms linear;
      background-color: #f2f2f2;
      border-radius: 5px;
      margin-right: 7px;
      margin-bottom: 10px;
      &:hover{
        background-color: #F9F9F9;
      }
      &:last-child{
        margin-right: 0;
      }
    }
    &__small{
      padding: 2px 6px;
    }
  }
  &-price{
    font-weight: 400;
    margin-right: 7px;

    &__wrapper{
      font-size: 14px;
      &--hot{
        font-size: 16px;
      }
    }
    &:last-child{
      margin-right: 0;
    }
    &--regular{
      color: #9b9b9b;

      text-decoration: line-through;
    }
    &--sale{
      color: #cf2929;
    }
    &__discount{
      display: inline-block;
      vertical-align: top;
      color: #fff;
      background: #da5b5c;
      padding: 0 4px;
      border-radius: 5px;
      text-align: center;
      line-height: 18px;
      height: 18px;
      font-size: 12px;
      font-weight: 700;
      text-transform: capitalize;
      margin-left: 2px;
    }
  }
}